name: CI
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
concurrency:
  # Cancel previous actions from the same PR or branch except 'main' branch.
  # See https://docs.github.com/en/actions/using-jobs/using-concurrency and https://docs.github.com/en/actions/learn-github-actions/contexts for more info.
  group: concurrency-group::${{ github.workflow }}::${{ github.event.pull_request.number > 0 && format('pr-{0}', github.event.pull_request.number) || github.ref_name }}${{ github.ref_name == 'main' && format('::{0}', github.run_id) || ''}}
  cancel-in-progress: ${{ github.ref_name != 'main' }}
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        # only test on linux for now, macos is not ready.
        os: [ubuntu-latest, ubuntu-24.04-arm]
        bazel_version: [8.x, last_rc]
        folder:
          - "e2e/rules_cc"
          - "e2e/rules_rust"
          - "e2e/cross_compilation"
    runs-on: ${{ matrix.os }}

    # Configure a human readable name for each job
    name: Test ${{ matrix.folder }} with Bazel ${{ matrix.bazel_version }} on ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          repository-cache: true
          module-root: ${{ matrix.folder }}
      - name: bazel test //...
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        working-directory: ${{ matrix.folder }}
        shell: bash
        run: |
          EXTRA_ARGS=""
          if [[ "${{ matrix.folder }}" == *"rules_rust"* ]]; then
            EXTRA_ARGS="--config=rust"
          fi

          bazel \
            --bazelrc=$GITHUB_WORKSPACE/.github/workflows/ci.bazelrc \
            --bazelrc=.bazelrc \
            test \
            --remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY \
            $EXTRA_ARGS \
            //...
  # pre-commit:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: pre-commit/action@v3.0.1
  # For branch protection settings, this job provides a "stable" name that can be used to gate PR merges
  # on "all matrix jobs were successful".
